/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
data/mnist.zip
data/t10k-images-idx3-ubyte
data/t10k-labels-idx1-ubyte
data/train-images-idx3-ubyte
data/train-labels-idx1-ubyte
results/originals.jpg
results/preds.jpg
results/preds-after-training.jpg
results/preds-before-training.jpg
results/after-training-preds.jpg
results/before-training-preds.jpg